@import "tailwindcss";

@theme {
  --breakpoint-xs: 34rem;
}

.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}
